/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ----------------
   Generic elements
   ---------------- */

:root {
  --text-color: #000;
  --text-color-light: #fff;
  --chicago-red: rgb(220,70,71);
  --chicago-blue: rgb(90,190,236);
}

html {
  color: #222;
  font-size: calc(1.1em + 0.2vw);
  line-height: 1.4;
  font-family: 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;
}

::-moz-selection {
  background: var(--chicago-blue);
  text-shadow: none;
  color: var(--text-color-light);
}

::selection {
  background: var(--chicago-blue);
  text-shadow: none;
  color: var(--text-color-light);
}

h1 {
  font-family: 'Bungee';
  font-size: 2.5rem;
  line-height: 1em;
  margin: 0 0 1rem;
}

h1 span:nth-of-type(1) {
  color: var(--chicago-blue);
}

h1 span:nth-of-type(2) {
  color: var(--chicago-red);
  font-size: 1.02em;
}

h1 span:nth-of-type(3) {
  color: hsl(0, 0%, 20%);
  font-size: 1.19em;
}

h2 {
  font-size: 1.4rem;
  margin: 1em 0 0.5em;
}

a {
  color: inherit;
}

nav {
  margin: 1em 0;
}

/* ----------
   Page parts
   ---------- */

header, footer, .contained {
  padding: 0 4vw;
  max-width: 640px;
  margin: 0 auto;
}

header {
  margin: calc(4vh + 3vw) auto calc((4vh + 3vw) / 2);
}

main {

}

.contained {
  margin: calc((4vh + 3vw) / 2) auto;
}

.list-container {
  margin: 0 4vw 2vw;
  padding: calc(1vh + 2vw);
  background: hsl(0, 0%, 95%);
  border-radius: 0.4rem;
}

footer {
  margin-top: calc((4vh + 3vw) / 2);
  margin-bottom: calc(4vh + 2vw);
  font-size: 0.7em;
}

#filter-controls {
  margin-bottom: calc((1vh + 2vw) - 0.5em);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#filter-controls a {
  display: inline-block;
  text-decoration: none;
  height: 2.3em;
  line-height: 2.3em;
  padding: 0 0.8em;
  font-size: 0.9em;
}

#filter-controls nav {
  margin: 0;
}

#filter-controls nav a {
  background: hsl(0, 0%, 85%);
  border-radius: 1.15em;
  margin: 0 0 0.5em;
  transition: 0.1s all;
}

#filter-controls nav a:hover {
  background: hsl(0, 0%, 78%);
}

#filter-controls nav a.active {
  background-color: var(--chicago-blue);
  color: var(--text-color-light);
}

#item-list-section {
  column-count: 4;
  column-gap: 2vw;
  column-width: 200px;
}

/* ----------------
   Reusable classes
   ---------------- */

.item-list {
  padding-left: 0;
  list-style-type: none;
  margin: 0;
}

.item-list li {
  position: relative;
  margin-left: 1.1em;
  margin-bottom: 0.4em;
  display: none; /* Items are hidden by default to accommodate the filter function */
}

/* This class exists for the JS filtering function */
.item-list li.displayed {
  display: block;
}

.item-list a {
  display: inline-block; /* To prevent awkward column breaks */
}

.item-list a:before {
  content: "\2736";
  position: absolute;
  left: -1.1em;
  color: var(--chicago-red);
}

.item-note {
  font-size: 0.8em;
  display: block;
  color: hsl(0, 0%, 50%);
}

.item-note.closed {
  color: red;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

