---
layout: default
---
<header>
  <h1><span>Chicago</span> <br><span>Service</span> <br><span>Relief</span></h1>
  <p>A directory of fundraisers for Chicago bars, venues, and restaurants that can use our help to support their staff during the state-mandated shutdown. A work-in-progress.</p>
  <nav>
    Jump to:
    <a href="#bars-and-venues">bars &amp; venues</a>,
    <a href="#restaurants">restaurants</a>,
    <a href="#stores-and-others">stores &amp; others</a>.<br>
    See also: <a href="#resources">resources for artists and gig economy workers</a>.
  </nav>
  <a href="#suggestions" class="button">+ Suggest an addition</a>
</header>
<main>
  {% assign items = site.data.establishments | sort: "title" %}

  <h2 id="bars-and-venues">Support bar &amp; venue staff</h2>
  <ul>
    {% for item in items %}
      {% if item.type contains 'bar' or item.type contains 'venue' or item.type contains 'theater' %}
        <li>
          <a href="{{ item.url }}">{{ item.title }} &rarr;</a>
          {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2 id="restaurants">Support restaurant staff</h2>
  <ul>
    {% for item in items %}
      {% if item.type contains 'restaurant' %}
        <li>
          <a href="{{ item.url }}">{{ item.title }} &rarr;</a>
          {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <h2 id="stores-and-others">Support stores &amp; others</h2>
  <ul>
    {% for item in items %}
      {% if item.type != 'bar' and item.type != 'venue' and item.type != 'restaurant' and item.type != 'theater' and item.type != 'resource' %}
        <li>
          <a href="{{ item.url }}">{{ item.title }} &rarr;</a>
          {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <section id="resources">
    <hr>
    <h2>Resources</h2>
    <p>If your livelihood is affected by COVID-19, you may want to use these resources:</p>
    <ul>
      {% for item in items %}
        {% if item.type contains 'resource' %}
          <li>
            <a href="{{ item.url }}">{{ item.title }} &rarr;</a>
            {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section id="suggestions">
    <hr>
    <h2>Suggestions</h2>
    <p>To suggest an establishment that’s not already on the list, please <a href="mailto:{{ site.email }}?subject=Chicago Service Relief">email its fundraising page link to me</a>.</p>
  </section>
</main>
<footer>
  <p>Project by <a href="https://spencertweedy.com/">Spencer Tweedy</a></p>
</footer>