---
layout: default
---
<header>
  <h1><span>Chicago</span> <br><span>Service</span> <br><span>Relief</span></h1>
</header>
<main>
  {% assign items = site.data.establishments | sort_natural: "title" %}
  <section id="resources">
    <h2>Resources for individuals</h2>
    <ul>
      {% for item in items %}
        {% if item.type == 'resource' %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.title }} &rarr;</a>
            {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section id="resources-business">
    <h2>Resources for businesses</h2>
    <ul>
      {% for item in items %}
        {% if item.type == 'resource-business' %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.title }} &rarr;</a>
            {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <section id="resource-lists">
    <h2>Additional resource lists</h2>
    <ul>
      {% for item in items %}
        {% if item.type == 'resource-list' %}
          <li>
            <a href="{{ item.url }}" target="_blank">{{ item.title }} &rarr;</a>
            {% if item.note %}<span class="item-note">{{ item.note }}</span>{% endif %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>

  <hr>
  <h2>Support service workers</h2>
  <p>We maintain a directory of fundraisers for Chicago service workers.</p>
  <p><a href="/" class="button">View the directory &rarr;</a></p>

  <section id="suggestions">
    <hr>
    <h2>Suggestions</h2>
    <p>To suggest a resource that’s not already on the list, please <a href="mailto:{{ site.email }}?subject=Chicago Service Relief">email me</a>.</p>
  </section>
</main>
<footer>
  <p>Project by <a href="https://spencertweedy.com/">Spencer Tweedy</a>. Last updated {{ site.time | date: "%m/%d/%Y" }}.</p>
</footer>